@{
	ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Política de datos de Instagram</h2>

<p>
	En esta política se describe la información que tratamos a fin de proporcionar los servicios de
	Facebook, Instagram y Messenger, así como de otros productos y funciones que Facebook ofrece
	(“Productos de Facebook” o “Productos”). Encontrarás herramientas e información adicionales en
	la configuración de Facebook e Instagram.
</p>

<h2>I. ¿Qué tipos de información recopilamos?</h2>

<p>
	Debemos tratar tu información a fin de proporcionarte los Productos de Facebook. El tipo de información
	que recopilamos depende de la forma en la que usas nuestros Productos. Obtén información sobre cómo
	acceder a los datos que recopilamos y cómo eliminarlos en la configuración de Facebook e Instagram.
</p>

<h4>
	Cosas que tú y otras personas hacéis y nos proporcionáis
</h4>

<p>
	Información y contenido que nos proporcionas. Recopilamos el contenido, las comunicaciones y otros datos que proporcionas cuando usas nuestros Productos, por ejemplo, cuando te registras para crear una cuenta, creas o compartes contenido y envías mensajes a otras personas o te comunicas con ellas. Esta información puede corresponder a datos incluidos en el contenido que proporcionas (por ejemplo, los metadatos) o relacionados con este, como el lugar donde se hizo una foto o la fecha de creación de un archivo. También puede incluir el contenido que ves a través de las funciones que ponemos a tu disposición, como la cámara, de modo que podamos realizar acciones como sugerirte máscaras y filtros que quizá te interesen, así como darte consejos sobre cómo usar los formatos de cámara. Nuestros sistemas realizan automáticamente el tratamiento del contenido y las comunicaciones que tú y otras personas proporcionáis para analizar el contexto y lo que incluyen en relación con los propósitos que se describen a continuación. Obtén más información sobre cómo controlar quién puede ver el contenido que compartes.
</p>

<p>
	Datos de categorías especiales: Puedes optar por proporcionar información en los campos de tu perfil de Facebook o los acontecimientos importantes sobre tus opiniones religiosas o políticas, indicar cuáles son tus intereses o aspectos relacionados con tu salud. Esta y otra información (como el origen étnico o racial, las creencias filosóficas o la afiliación sindical) puede estar sujeta a protección especial en virtud de las leyes de tu país.
</p>

<p>
	Redes y conexiones. Recopilamos información sobre las personas, las páginas, las cuentas, los hashtags y los grupos a los que estás conectado y cómo interactúas con ellos en nuestros Productos, por ejemplo, las personas con las que más te comunicas o los grupos de los que formas parte. También recopilamos información de contacto si eliges subirla, sincronizarla o importarla desde un dispositivo (como una agenda de direcciones, un registro de llamadas o un historial de SMS). Usamos estos datos para propósitos como ayudarte a ti y a otros a encontrar personas que quizá conoces, así como para las finalidades que se indican a continuación.
</p>

<p>
	Tu uso. Recopilamos información sobre cómo usas nuestros Productos, como los tipos de contenido que ves o con los que interactúas, las funciones que utilizas, las acciones que llevas a cabo, las personas o cuentas con las que interactúas y la hora, la frecuencia y la duración de tus actividades. Por ejemplo, registramos cuándo estás usando y cuándo has usado nuestros Productos por última vez, y qué publicaciones, vídeos y otro tipo de contenido ves en nuestros Productos. También recopilamos información sobre cómo usas funciones como nuestra cámara.
</p>

<p>
	Información sobre transacciones realizadas en nuestros Productos. Si usas nuestros Productos para efectuar compras u otras transacciones económicas (por ejemplo, cuando compras algo en un juego o haces una donación), recopilamos datos sobre dichas compras o transacciones. Esos datos incluyen la información del pago, como el número de tu tarjeta de crédito o débito y otra información sobre la tarjeta, así como datos sobre la cuenta y la autenticación, y detalles de facturación, envío y contacto.
</p>

<p>
	La actividad de otros usuarios y la información que proporcionan sobre ti. También recibimos y analizamos contenido, comunicaciones e información que nos proporcionan otras personas al usar nuestros Productos. Estos datos pueden incluir información sobre ti, como en caso de que otras personas compartan o comenten una foto tuya, te envíen un mensaje o suban, sincronicen o importen tu información de contacto.
</p>