@model IEnumerable<MVC.Models.Historia>
@{
	ViewBag.Title = "Historias";
}

<h2>Historias</h2>

@if (Model.Any())
{
	<div class="container">
		<br />
		<div style="width:90%; margin:0 auto;">
			<table class="table table-striped table-bordered">
				<tr>
					<th>Foto</th>
					<th>Usuario</th>
					<th></th>
				</tr>
				@foreach (var item in Model)
				{
			<tr>
				<td><img src="@item.foto" alt="Imagen" height=100 width=200></td>
				<td>@item.usuario</td>
				<td> @Html.ActionLink("Perfil", "Perfil1", new { i = item.usuario })</td>
			</tr>
				}
			</table>
		</div>
	</div>

}
else
{
	<h3>No hay elementos para mostrar</h3>
}
