@model IEnumerable<MVC.Models.Seguir>


@{
	ViewBag.Title = "Notificaciones";
}

	<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
	<div align="center">
		<table class="table table-striped table-bordered">
			<tr>
				<th></th>
				<th></th>
			</tr>
			@foreach (var item in Model)
			{
				if (item.seguido == HttpContext.Current.User.Identity.Name)
				{
					<tr>
						<td>@item.seguidor </td>     
						<td>Comenzó a seguirte</td>
					</tr>
				}
				if (item.seguidor == HttpContext.Current.User.Identity.Name)
				{
					<tr>
						<td>@item.seguido</td>
						<td>Empezaste a seguirlo</td>
					</tr>
				}
			}
		</table>
	</div>
}
else
{
	<h3>No hay notificaciones</h3>
}